/* You can add global styles to this file, and also import other style files */

@keyframes button-spinner {
  to {transform: rotate(360deg);}
}

.button-spinner {
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #363636;
    animation: button-spinner .8s linear infinite;
  }
}
