@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$body-background-color: #EFF0EB;
$family-sans-serif: "Nunito", sans-serif;

$turquoise: #5D7B6F; // $primary
$green: #A4C3A2;  // $success
$blue: #757763; // $link
$grey-dark: #4A4A4A; // $text
$grey-darker: #363636; // $text-strong, $link-hover
$grey-lightest: #EAE7D6;  // $border-light

/*
$primary: $turquoise
$link: $blue
$info: $cyan
$success: $green
$warning: $yellow
$danger: $red
$dark: $grey-darker
$text: $grey-dark
*/


@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

a {
  text-decoration: underline;
}

.panel {
  background-color: #EFF0EB;
}